.counter {
    margin: 0 auto;
    background-color: yellow;
    width: 300px;
    height: 200px;
}
.counter h1 {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
}
.counter button{
    margin-left: 100px;
    width: 100px;
    height: 30px;
}